/* light mode */
.light > *{
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.light > #footer-socialNetworks-github-svg-path{
    fill: none;
}

/* dark mode */
.dark {
    --background-color: var(--background-color-dark) !important;
    --secondary-background-color: var(--secondary-background-color-dark) !important;
    --text-color: var(--text-color-dark) !important;
    --text-secondary-color: var(--text-secondary-color-dark) !important;
    --text-link-color: var(--text-link-color-dark) !important;
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
}

.dark #footer-socialNetworks-github-svg-path{
    fill: #FFFFFF;
}

.text-secondary {
    color: var(--text-secondary-color) !important;
}

#theme-toggle:focus {
    outline: 0;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    border: none;
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

body *::selection {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
}

.timeline {
    position: relative;
    margin-left: 50px;
    padding: 20px 0;
}

.timeline-item {
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

.timeline-marker {
    position: absolute;
    left: -25px;
    width: 10px;
    height: 10px;
    background-color: #6f42c1;
    border-radius: 50%;
    top: 20px;
}

.timeline-content {
    margin-left: 50px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.timeline-content .card {
    border: none;
}

.timeline:before {
    content: "";
    position: absolute;
    left: -20px;
    width: 2px;
    background-color: #6f42c1;
    top: 0;
    bottom: 0;
}
